@charset "utf-8";
/* CSS Document */

body {
    background: #f4f4f4;
    color: #5a5656;
    font: 100%/1.5em 'Open Sans', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 1em;
}

h1, p {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

/* ---------- LOGIN ---------- */

#login {
    margin: 50px auto;
    width: 300px;
}

form input[type="text"], input[type="password"] {
    background: #e5e5e5;
    border: none;
    border-radius: 3px;
    color: #5a5656;
    font-family: inherit;
    font-size: 14px;
    height: 50px;
    outline: none;
    padding: 0 10px;
    width: 280px;
    -webkit-appearance: none;
}

form input[type="submit"] {
    background-color: #008dde;
    border: none;
    border-radius: 3px;
    color: #f4f4f4;
    cursor: pointer;
    font-family: inherit;
    height: 50px;
    text-transform: uppercase;
    width: 300px;
    -webkit-appearance: none;
}

form a {
    color: #5a5656;
    font-size: 10px;
}

form a:hover {
    text-decoration: underline;
}

.btn-round {
    background: #5a5656;
    border-radius: 50%;
    color: #f4f4f4;
    display: block;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    margin: 30px 125px;
    text-align: center;
    text-transform: uppercase;
    width: 50px;
}

.facebook-aux {
    float: left;
    height: 50px;
    width: 50px;
}

.facebook {
    background: #0079ce;
    border: none;
    border-radius: 0 3px 3px 0;
    color: #f4f4f4;
    cursor: pointer;
    height: 50px;
    text-transform: uppercase;
    width: 250px;
}

.google-aux {
    float: left;
    height: 50px;
    width: 50px;
}


.google {
    background: #1bb2e9;
    border: none;
    border-radius: 0 3px 3px 0;
    color: #f4f4f4;
    cursor: pointer;
    height: 50px;
    text-transform: uppercase;
    width: 250px;
}

.logo-google {
    background-image: url('../Data/logos/image-20150902-6700-t2axrz.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
}

.logo-facebook {
    background-image: url("../Data/logos/fb_icon_325x325.png");
    background-repeat: no-repeat;
    display: block;
    background-size: 100% 100%;
    position: absolute;
    width: 50px;
    height: 50px;
}

.register {
    background: #1146de;
    border: none;
    border-radius: 0 3px 3px 0;
    color: #f4f4f4;
    cursor: pointer;
    height: 50px;
    text-transform: uppercase;
    width: 300px;
}

body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#customcanvas
{
    background-color: rgba(0, 211, 222, 0.6);
    width:900px;
    margin:100px
    auto
}

#menucanvas
{
    margin-top:5px;
    height:65px;
    width: 900px;
    background-color: rgba(18, 18, 18, 1);
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: 150px;
}

.navbar2 {
    margin-top:-7px;
    overflow: hidden;
    background-color: #333;
    width: 900px;
}

.navbar2 a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar2 a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
     float: none;
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
 }

.table-element {
    width: 33%;
}

.table-element a {
    float: none;
    color: white;
    padding: 12px 16px;
    background-color: #333;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    text-decoration: none;
    display: block;
    text-align: left;
    width: 160px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: red;
    color: white;
}

.topnav .search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        text-align: left;
        width: 100%;
    }
}

.announce-image{
    height: 200px;
    width: 100%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.announce-text{
    text-align: left;;
    font-size: 17px;
}

.announce-button{
    text-align: center;
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
